<div class="widget">
    <h4 class="widget-title">{{@site.title}}</h4>
    <div class="content">
        <p>Yorkshire BusinessWoman is your go-to source for all local news and events in our region</p>
    </div>
</div>