/*
  Post Content Styles
  ------------------
  Styles for post-content.hbs template.
*/
.post-content {
  max-width: var(--post-content-max-width);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: auto;

  .post-body {  
    width: 100%;
    line-height: var(--line-height-base) !important;
    font-size: 1.125rem !important;

    &:only-child {
      margin-bottom: 6rem;
    }

    p a {
      color: var(--accent-color);
      text-decoration: underline;
    }
  }
}
