/*
  Social Icons
  ------------
  Styles for the social media icon links.
*/

.social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  color: var(--text-color-0);
  transition: all 0.15s ease;

  &:hover {
    color: var(--text-color-1);
    transform: scale(1.1);
  }
}
