@config "../../tailwind.config.cjs";
@import "tailwindcss";

@import "./variables.css";

@import "./base/core.css";
@import "./base/typography.css";
@import "./base/animations.css";
@import "./base/icons.css";
@import "./base/button.css";
@import "./base/input.css";
@import "./base/form.css";
@import "./base/cards.css";
@import "./base/common.css";

@layer components {
  @import "./components/site-logo.css";
  @import "./components/site-header.css";
  @import "./components/nav-primary.css";
  @import "./components/nav-secondary.css";
  @import "./components/color-scheme-switcher.css";
  @import "./components/accordion.css";
  @import "./components/lightbox.css";
  @import "./components/carousel.css";
  @import "./components/post-card.css";
  @import "./components/post-content.css";
  @import "./components/comments.css";
  @import "./components/scroll-indicator.css";
  @import "./components/social-icons.css";
}
