{{!< custom-default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="main-content-area">
<div class="content">
</div>
    {{#unless @custom.hide_featured_posts_section}}
	
    {{/unless}}
    <div class="container">
        <div class="row">
			 <script type="text/javascript" src="https://pci.jotform.com/jsform/252732445023046"></script>
        </div>
    </div>
</div>