{{!< custom-default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="main-content-area">
<div class="content">
</div>
    {{#unless @custom.hide_featured_posts_section}}
	{{> homepage/custom-featured-section}}
    {{/unless}}
    <div class="container">
        <div class="row">
            {{> homepage/custom-tag-section-2}}
			 <a href="javascript:void( window.open( 'https://pci.jotform.com/form/252732445023046', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) "> YBW Awards 2026 Tickets </a>
        </div>
    </div>
</div>