/*
  Core Styles
  ----------
  Base styling and CSS reset.
  Sets up fundamental layout and spacing rules.
*/

html {
  /* Font size set in pixels as a fallback for browsers that don't support CSS custom properties */
  font-size: 16px;
  font-size: var(--rem-size);
  background-color: var(--bg-color-0);

  @media (max-width: 768px) {
    overflow-x: hidden;
  }
}

html,
body {
  /* height: 100%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  accent-color: var(--accent-color);
  font-family: var(--font-family-body);
  font-style: normal;
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-body);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color-0);
  background-color: var(--bg-color-0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  backface-visibility: hidden;
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion) {
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none;
  }
}

[hidden] {
  display: none !important;
}

hr {
  border-color: var(--border-color-0);
}

mark {
  background: var(--mark-background-color);
  color: inherit;
}

pre {
  background: var(--pre-background-color);
}

figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: end;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    text-align: center;
    font-size: var(--font-size-s);
    font-weight: 300;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    margin-top: 0;
    color: var(--text-color-2);
  }
}
