<div class="widget">
    <h4 class="widget-title">{{@site.title}}</h4>
    <div class="content">
	<p><UL><li>Free* live Networking events</li>
<li>Exclusive online members area</li>
<li>Discounts and offers from Yorkshire businesses</li>
<li>Support and help</li>
<li>Space in Yorkshire Businesswoman magazine</li>
<li>Discount in TopicUK magazine</li>
<li>Help and advice with PR and publicity</li></UL></p></div>
</div>