<div class="widget">
    <h4 class="widget-title">{{@site.title}}</h4>
    <div class="content">
        <p>Yorkshire Businesswoman celebrates and promotes the talented women from across the Yorkshire region. We also provide news updates on the latest fashion, health and wellbeing, travel and the best food and drink you will find from independent suppliers from across Yorkshire.</p>
    </div>
</div>