<div class="widget">
    <h4 class="widget-title">{{t "Follow Us"}}</h4>
    <div class="content follow-social">
        <ul class="social-links">
            <li><a href="https://twitter.com/YorkshireBusin2">{{> icons/twitter}}</a></li>
            <li><a href="https://www.facebook.com/TopicUK/">{{> icons/facebook}}</a></li>
            <li><a href="https://www.instagram.com/topic_uk/">{{> icons/instagram}}</a></li>
            <li><a href="https://www.linkedin.com/company/yorkshire-businesswoman/">{{> icons/linkedin}}</a></li>
        </ul>
    </div>
</div>